/* header */
.bg-img {
    background-image: url('../images/bg.jpg');
    width: 100%;
    height: 324px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 60%;
    position: relative;
}

.wrapper {
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    max-width: 1770px;
    width: 100%;
    padding: 30px 0 0 139px;  
}

.nav-ul {
    display: flex;
}

.logo {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}
.li-1 {
    margin-left: 49px;
}
.list {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.last-list {
    margin-right: 138px;
}
.active {
    color: #5863F8;
}
.contact {
    position: absolute;
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    line-height: 56px;
    z-index: 5;
    top: 146px;
    left: 139px;
}

.header-text {
    display: flex;
    position: absolute;
    z-index: 5;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 200;
    top: 219px;
    left: 139px;
}

.home-p::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 19px;
    background-color: #FFFFFF;
    margin: 0 14px 0 15px;
    vertical-align: middle;
}
