/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* header */
.bg-img {
    background-image: url('../images/bg.jpg');
    width: 100%;
    height: 324px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 60%;
    position: relative;
}

.wrapper {
    position: absolute;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1770px;
    width: 100%;
    padding: 30px 0 0 139px;  
}

.nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logo {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}
.li-1 {
    margin-left: 49px;
}
.list {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.last-list {
    margin-right: 138px;
}
.active {
    color: #5863F8;
}
.contact {
    position: absolute;
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    line-height: 56px;
    z-index: 5;
    top: 146px;
    left: 139px;
}

.header-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 5;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 200;
    top: 219px;
    left: 139px;
}

.home-p::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 19px;
    background-color: #FFFFFF;
    margin: 0 14px 0 15px;
    vertical-align: middle;
}

/* map */
.div-map {
    margin: 50px auto 0 auto;
    max-width: 1088px;
    width: 100%;
    height: 286px;
}
.map {
    max-width: 1088px;
    width: 100%;
    height: 286px;   
}

/* section-1 */
.section-wrapper {
    max-width: 1088px;
    width: 100%;
    height: 667px;
    margin: 56px auto 93px auto;
}
.section-heading1 {
    font-family: 'Poppins', sans-serif;
    color: #5863F8;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    text-transform: uppercase;
}
.section-heading2 {
    max-width: 378px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 900;
    line-height: 56px;
    color: #000000;
    margin-bottom: 50px;
}

.form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.textarea {
    max-width: 720px;
    width: 100%;
    height: 288px;
    resize: none;
    margin-right: 16px;
}
.textarea::-webkit-input-placeholder {
    padding: 20px 0 0 20px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.textarea::-moz-placeholder {
    padding: 20px 0 0 20px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.textarea:-ms-input-placeholder {
    padding: 20px 0 0 20px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.textarea::-ms-input-placeholder {
    padding: 20px 0 0 20px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.textarea::placeholder {
    padding: 20px 0 0 20px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.input {
    max-width: 352px;
    width: 100%;
    height: 60px;
    margin-bottom: 16px;
}
.input::-webkit-input-placeholder {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.input::-moz-placeholder {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.input:-ms-input-placeholder {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.input::-ms-input-placeholder {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.input::placeholder {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.button {
    max-width: 352px;
    width: 100%;
    height: 60px;
    background-attachment: fixed;
    background-color: #5863F8;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.section-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
}
.box {
    max-width: 362px;
    width: 100%;
    height: 147px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.icon-div {
    width: 58px;
    height: 59px;
    background-color: #5863F8;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.box-heading {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin: 15px 0 5px 0;
}

.box-p {
    color: #B1B1B1;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 21px;

}

/* section-2 */
.text-wrapper {
    max-width: 1088px;
    width: 100%;
    height: 140px;
    margin: 0 auto 50px auto;
}
.text-heading {
    max-width: 565px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 900;
    line-height: 56px;
    color: #000000;
    margin-bottom: 50px;
}
.photo-wrapper {
    width: 100%;
    height: 352px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

/* footer */
.footer-wrapper {
    width: 100%;
    height: 359px;
    background-color: #121212;
}

.contaier {
    max-width: 1088px;
    width: 100%;
    height: 191px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    
}

.box-1 {
    width: 260px;
    height: 191px;
    margin-top: 90px;
    margin-bottom: 54px;
    
}
.box-title {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.box-text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #B1B1B1;
    margin-bottom: 20px;
}

.fa-brands {
    font-size: 35px;
}
.fa-facebook {
     color: blue;
}
.fa-twitter {
     color: lightblue;
    
}
.fa-google-plus {
    color: darkred;
}

.box-title2 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer-li {
    font-family: 'Poppins', sans-serif;
    color: #5863F8;
    font-size: 14;
    margin-bottom: 10px;
}
.footer-li2 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14;
    margin-bottom: 20px;
}

.fa-solid {
    margin-right: 14px;
    color: #5863F8;
    font-size: 14px;

}
.box-footer {
    margin-top: 90px;
}

.box-3 {
    margin-top: 90px;
}
.footer-text {
    font-family: 'Poppins', sans-serif;
    font-size: 14;
    color: #FFFFFF;
}
.footer-span {
    font-family: 'Poppins', sans-serif;
    font-size: 14;
    color: #5863F8;
    top: 335px;
    left: 139px;
}
.Copyright {
    max-width: 1088px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    margin-top: 90px;
}